<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon App</title>
</head>
<body>
    <nav><a href="/new">Create a New Pokemon</a</nav>
    <div class="container">
    <div>
        <table>
            <% for (i = 0; i < data.length; i++) { %>
            <tr>
                <td><a href= "/<%=i%>"><%=data[i].name %></a> </td>
                <td><img src="<%=data[i].img%>"></td>
                <td>
                    <form action="/<%=i %>?_method=DELETE" method="POST">
                        <input type="submit" value="delete">
                    </form>
                    <a href="/<%=i %>/edit">Edit</a>
                </td>
            </tr>
        <% } %>
        </table>
        
</div>
<style>
    body {
        background-color: rgb(35, 163, 84);
    }
</style>
</body>
<body>
</body>

</html>